<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="/" class="home-icon"><i class="fa fa-home"></i></a>
    <div class="header">
        <h1 >ABOUT PROJECT</h1>
      </div>
      <div class="info">
        <p>
            The Flask-based web application presented in this report performs multilingual text summarization using 
            the SpaCy natural language processing (NLP) library. It supports text summarization in English, Hindi, 
            Kannada, and Malayalam, providing a comprehensive tool for users with diverse linguistic backgrounds. 
            The summarization process starts with user input of text and selection of the desired language. The 
            application utilizes language-specific SpaCy models and stop word lists to preprocess and analyze the 
            input text. The summarizer function calculates word frequencies and sentence scores to identify important 
            sentences, ultimately selecting them to produce a concise summary. 
            The application features a user-friendly HTML interface that allows users to input text and choose the 
            language for summarization. Once the form is submitted, the application generates a summary and displays 
            the lengths of the original text and the summary. 
            Error handling mechanisms are in place to address unsupported languages and invalid inputs, providing 
            appropriate error messages and ensuring a smooth user experience. 
            In conclusion, the application showcases the effectiveness of combining Flask and SpaCy for multilingual 
            text summarization. It offers users an efficient and user-friendly means of quickly obtaining concise 
            summaries across multiple languages, enabling rapid information extraction and saving time and effort. 

        </p>
        <br>
        <p>
            The problem of text summarization involves condensing a given piece of text into a shorter version 
            while retaining its most important information and meaning. This task is important in various fields 
            such as journalism, academic research, and content creation, where there is a need to quickly and 
            accurately digest large amounts of information. The goal of text summarization is to provide a concise 
            and readable summary that captures the essence of the original text, without losing its key ideas or 
            important details. The challenge in text summarization lies in developing algorithms that can 
            effectively identify the most important information and distill it into a coherent and meaningful 
            summary  
        </p>
        <br>
        <p>
            The goal of text summarization is to provide a concise and readable summary that captures the essence 
            of the original text, without losing its key ideas or important details. The challenge in text 
            summarization lies in developing algorithms that can effectively identify the most important 
            information and distill it into a coherent and meaningful summary   
        </p>
      </div>
</body>
</html>